body {
	margin: 10px;
	background-color: #171717;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:hover {
	text-decoration: none;
}
.container {
	width: 100%;
	min-height: 100vh;
}
.heading {
	text-align: center;
	color: #cc181e;
	font-size: 3.5em;
	font-weight: 200;
}
.subheading {
	text-align: center;
	color: white;
	font-weight: 100;
	font-size: 1.2em;
}
.instructions {
	padding: 10px;
	width: 100%;
	text-align: center;
	color: white;
}
#login-link {
	cursor: pointer;
}
.info {
	color: white;
	text-align: center;
}
.shortcut {
	font-size: 2em;
	color: #cc181e;
}
.login {
	font-size: 1.5em;
	width: 100%;
	color: white;
	text-align: center;
}
.channelIdInput {
	width: 200px;
	margin: auto;
}
#channelIdBox {
	width: 200px;
	height: 40px;
	text-align: center;
	color: black;
}

.playlists {
	width: 100%;
	margin: auto;
	overflow: auto;
	color: white;
	text-align: center;
}
.errorMessage {
	font-size: 2em;
	font-style: italic;
}
#playlist {
	float: left;
	margin: 0 auto;
	padding: 15px 25px 5px 25px;
	width: 50%;
}
.playListPlayer {
	background: none repeat scroll 0 0 black;
	display: block;
	font-family: arial,sans-serif;
	overflow: hidden;
	height: 360px;
	width: 730px;
	margin: 0 auto;
}
.playListPlayerObject {
	height: 360px;
	width: 360px;
	bottom: 0;
	left: 0;
	display: inline-block;
	right: 300px;
	top: 0;
}
.data {
	display: inline-block;
	vertical-align: top;
	z-index: 9999;
}
.playlistName {
	text-align: left;
	color: white;
	height: 40px;
	font-weight: 100;
	font-size: 2em;
}
.playListEntries {
	bottom: 0;
	height: 270px;
	right: 0;
	top: 0;
	width: 365px;
	overflow-y:scroll;
	color: #ffffff;
	font-size: 11px;
	font-weight: 100;
}
.playlistEntries::-webkit-scrollbar {
	display: none;
}
.playListControls {
	width: 100%;
	height: 30px;
	color: #ffffff;
	text-align: center;
}
.playListControl {
	cursor: pointer;
	padding: 10px;
	border-top: 1px solid white;
}
.disabled {
	cursor: default;
	color: grey;
}
.playListEntry {
	border-left: 2px solid black;
	height: 35px;
	cursor: pointer;
	width: 100%;
}
.nowPlaying {
	border-left: 2px solid #cc181e;
	background-color: #333333;
}
.playListEntry:hover {
	background-color: #393939;
}
.playListEntryDescription {
	display: table;
}
.playlistEntryTitle {
	font-size:13px;
	padding-left: 15px;
	display: table-cell;
	vertical-align: middle;
}
.timeLink {
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
}
.timeLink:hover {
	border: 1px solid red;
}
.randomizeActive {
	color: #008110;
}
.footer {
	padding-top: 20px;
	width: 100%;
	text-align: center;
	color: white;
}
.footer-text  a {
}
 ::-webkit-scrollbar {
	 width: 15px;
 }
 ::-webkit-scrollbar-thumb {
	 background-color: rgba(0,0,0,0.2);
 }
 ::-webkit-scrollbar-track {
	 background-color: #75828E;
 }
